<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">
            Acerca de......
        </h1>
        <p class="lead">Jumbo helper text</p>
        <hr class="my-2">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quae ea id. A, quis totam. Ipsam non est labore, suscipit eveniet, ea tempora odit voluptatum at ex animi obcaecati commodi.
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>
</div>