<carousel>
    <slide>
        <img src="../../../assets/img/1367498182_037809_1367498356_noticia_normal.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            <button type="button" class="btn btn-outline-info">
                editar-noticia
            </button>
        </div>
    </slide>
    <slide>
        <img src="../../../assets/img/Cascada_azul_costa_rica_muralesyvinilos_26641659__Monthly_XL.jpg" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            <button type="button" class="btn btn-outline-info">
                editar-noticia
            </button>
        </div>
    </slide>
    <slide>
        <img src="../../../assets/img/maxresdefault.jpg" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            <button type="button" class="btn btn-outline-info">
                editar-noticia
                <i class="fas fa-american-sign-language-interpreting"></i>
            </button>
        </div>
    </slide>
    <slide>
        <img src="../../../assets/img/nauyaca-waterfalls-horseback.jpg" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            <button type="button" class="btn btn-outline-info">
                editar-noticia
                <i class="fas fa-american-sign-language-interpreting"></i>
            </button>
        </div>
    </slide>
</carousel>