<carousel>
    <div *ngFor="let noti of noticias; let i=index">
        <slide>
            <img [src]="noti.Imagen" alt="first slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h2>{{noti.Titulo}}</h2>
                <h2>{{noti.Descripcion}}</h2>
                <button type="button" class="btn btn-outline-info">
                Editar Noticia
            </button>
            </div>
        </slide>
    </div>
</carousel>