/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
.bg-principal {
    background-color: rgb(16, 16, 29);
}

body {
    margin-bottom: 90px;
}

._cardsImg {
    height: 180px;
    width: 643px;
}