<h1>
    Pipes comunes
</h1>

<table>
    <tr>
        <th colspan="2" class="text-center">Uppercase</th>
    </tr>
    <tr>
        <th>{{nombre}}</th>
        <td>{{nombre | uppercase}}</td>
    </tr>
    <tr>
        <th colspan="2" class="text-center">Lowercase</th>
    </tr>
    <tr>
        <th>{{curso}}</th>
        <td>{{curso | lowercase}}</td>
    </tr>
    <tr>
        <th>{{curso}}</th>
        <td>{{nombre | slice:1:3}}</td>
    </tr>

    <tr>
        <th>{{num}}</th>
        <td>{{num | number}}</td>
    </tr>


    <tr>
        <th>{{fechaNacimiento}}</th>
        <td>{{fechaNacimiento | date}}</td>
    </tr>

</table>